In [1]:
#25070123071
#MAITREYEE UPADHYAY
#CREATION OF SET
thisset = {"apple", "banana", "cherry"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [2]:
##Duplicates not allowed
thisset = {"apple", "banana", "cherry", "apple"}
print(thisset)

{'cherry', 'banana', 'apple'}

In [8]:
#the values are
thisset = {"apple", "banana", "cherry", True ,1,2}
print(thisset)

{True, 2, 'cherry', 'banana', 'apple'}

In [5]:
##to check membership
thisset = {"apple", "banana", "cherry"}
print("banana" in thisset)
print("grapes" in thisset)

True
False

In [3]:
# once a set is created, you cannot replace its items, but you can add new items
thisset = {"apple", "banana", "cherry"}
thisset.add("orange")
print(thisset)

{'orange', 'cherry', 'banana', 'apple'}

In [4]:
thisset = {"apple", "banana", "cherry"}
thisset.remove("banana")
print(thisset)

{'cherry', 'apple'}

In [7]:
#set operation
A = {1, 2, 3, 4}
B = {3, 4, 5, 6}

print("UNION:",A | B)
print("INTERSECTION:",A & B)
print("DIFFERENCE:",A - B)
print("DIFFERENCE2:", B - A)
print("SYMMETRIC DIFFERENCE:",A ^ B)

UNION: {1, 2, 3, 4, 5, 6}
INTERSECTION: {3, 4}
DIFFERENCE: {1, 2}
DIFFERENCE2: {5, 6}
SYMMETRIC DIFFERENCE: {1, 2, 5, 6}

In [10]:
#frozenset
x = frozenset({"apple", "banana", "cherry"})
print(x)
print(type(x))

frozenset({'cherry', 'banana', 'apple'})
<class 'frozenset'>

In [11]:
# PROBELEM STATEMENT 1: UNIQUE EVENT PARTICIPANT
#Q] A COLLEGE EVENT HAS A LIST OF STUDENTS WHO REGISTERED MULTIPLE TIME BY MISTAKE. WRITE A PROGRAM USING SET TO STORE PARTIICIPANT NAMES AND DISPLAY ONLY UNIQUE PARTCIPANTS
studentlist = ["riya","niya","tiya","piya","jiya","riya"]
unique_studentlist =set(studentlist)
print(" UNIQUE PARTICIPANTS:" , unique_studentlist)

 UNIQUE PARTICIPANTS: {'tiya', 'riya', 'jiya', 'niya', 'piya'}

In [14]:
# PROBLEM STATEMENT 2: THREE STUDENTS CHOOSE ELECTIVE SUBJECTS
# Q] FIND THE COMMON SUBJECTS CHOSEN BY ALL STUDENTS USING SET OPERATION
student1 = {"AIML","PYTHON","DATA SCIENCE"}
student2 = {"PYTHON","DATA SCIENCE","JAVA"}
student3 = {"CLOUD COMPUTING","PYTHON","BEEE"}
common_subjects = student1&student2&student3
print("COMMON SUBJECTS CHOSEN BY ALL STUDENTS ARE: ",common_subjects)

COMMON SUBJECTS CHOSEN BY ALL STUDENTS ARE:  {'PYTHON'}

In [16]:
cricket = {"amit", "rahul","sneha"}
football = {"rahul","neha","sneha"}
print("both clubs:", cricket & football)
print("only one club:", cricket^football)

both clubs: {'rahul', 'sneha'}
only one club: {'amit', 'neha'}

In [18]:
all_students = {"A","B","C","D","E"}
present_students = {"A","B","C"}
absent_students = all_students - present_students
print("ABSENT STUDENTS:" , absent_students)

ABSENT STUDENTS: {'D', 'E'}

In [19]:
courses = {"ETC101","ETC102","ETC103"}
courses.discard("ETC102")
print("Updated Courses:", courses)

Updated Courses: {'ETC103', 'ETC101'}